.VacationUserCard.Box {
    margin-top: 30px;
    width: 270px;
    max-width: 270px;
    min-height: 370px;
    max-height: 370px;
    display: inline-flexbox;
    align-items: center;
    font-style: italic;
    color: rgb(0, 0, 0);
}

.VacationUserCard img {
    width: 100%;
    height: auto;
    min-height: 170px;
    max-width: 270px;
    max-height: 170px;
    border-radius: 10px;
    border: 1px solid black;
    vertical-align: middle;
}

.VacationUserCard>div:last-child {
    margin-left: auto;
}

.VacationUserCard>div>p {
    display: inline;
    overflow: hidden;
}

.VacationUserCard>div>form>pre {
    font-size: smaller;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
}

.VacationUserCard>div>textarea {
    padding-top: 5px;
    background: transparent;
    border: none;
    resize: none;
    font-size: medium;
    width: 270px;
    height: 70px;
    text-align: left;
    padding-left: 5px;

}

.container {
    position: relative;
    width: 100%;
    max-width: 370px;
}

.container img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 12%;
    left: 82%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #3399FF;
    font-family: "Helvetica";
    font-size: 14px;
    border: 1px solid;
    border-color: #3399FF;
    border-radius: 15px;
    width: 85px;
    height: 30px;
    cursor: hand;		    
}

.container .btn:hover {
    background-color: rgb(46, 148, 207);
    color: black;
}

.container .btnClick {
    position: absolute;
    top: 12%;
    left: 82%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: #27ba27;
    font-family: "Helvetica";
    font-size: 14px;
    border: 1px solid;
    border-color: #6cd54c;
    border-radius: 15px;
    width: 85px;
    height: 30px;
    cursor: hand;		    
}

.container .btnClick:hover {
    background-color: rgb(46, 207, 57);
    color: black;
}

.descriptionCss{
    margin-top: 9px;
    min-height: 47px;
}

.locationCss{
    color: rgb(198, 73, 73);
    font-weight: 600;
    font-size: medium;
    text-align: center;
    min-height: 40px;
    margin-bottom: 4px;
}

.datesCss {
    margin-top: 9px;
}

.priceCss {
    margin-top: 9px;
}